.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px 0;
}

.product-card {
  background-color: white;
  position: relative;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  margin: 10px;
  height: 400px;
  width: 230px;
}

.productImage {
  height: 50%;
  background-color: rgb(236, 236, 236);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 10px;
  padding: 20px;
}

.product-image {
  width: 100%;
  height: 130px;
  object-fit: contain;
  border-radius: 8px 8px 0 0;
  margin-bottom: 10px;
}

.search-container {
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 600px;
  height: 50px;
}

.search-icon {
  width: 60px;
  height: 25px;
}

.searchButton {
  border: none;
  background-color: transparent;
  padding: 10px 0;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}

.pagination-btn {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination-btn:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

.pagination-btn:hover:not(:disabled) {
  background-color: #ddd;
}

.page-number {
  font-size: 18px;
  font-weight: bold;
  margin: 0 15px;
}

.product-name {
  text-align: center;
}



.productCaption {
  text-align: center;
}

.productPrice {
  width: 70px;
  position: absolute;
  bottom: 0;
  left: 5%;
  text-align: center;
  font-weight: 700;
  color: grey;
}

#newPrice {
  color: red;
}

.crossedPrice {
  position: absolute;
  bottom: 2%;
  right: 5%;
}

.productLabel {
  position: absolute;
  top: 2%;
  padding: 2%;
  border-radius: 10%;
  font-weight: 300;
}

#sale {
  background-color: rgb(246, 134, 134);
}

#new {
  background-color: rgb(255, 251, 127);
}

.didYouMean {
  width: 500;
  display: flex;
  gap: 10px;
  align-items: baseline;
  justify-content: center;
}

.correctText {
  color: rgb(17, 17, 179);
}

.clear-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #999;
}

.autocomplete-wrapper, .searchHistory-wrapper{
  display: flex;
  background-color: #ddd;
}

.autocomplete-list, .searchHistory-list {
  list-style: none;
  padding: 1px;
  margin: 10px auto;
  width: 30%;
  background: #f8f8f8;
  border: 1px solid #ccc;

}
/* 
.autocomplete-list {
  list-style: none;
  padding: 0;
  margin: 10px auto;      
  width: fit-content;     
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: left;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
} */

.autocomplete-list li, .searchHistory-list li {
  padding: 8px;
  cursor: pointer;
}

.autocomplete-list li:hover, .searchHistory-list li:hover {
  background-color: #e0e0e0;
}

.searchHistory-list li{
  color: purple;
  display: flex;
  justify-content: space-between;
}

.searchHistory-list li .delete-btn, .btn-microphone{
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #999;
}

.btn-microphone:hover{
  color:black;
}