.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin-top: 2%;
}

.searchEngine-div{
  display: flex;
  justify-items: center;
  justify-content: center;
}

.search-container {
  padding: 10px;
  font-size: 16px;
  border-radius: 20px;
  border: 1px solid #ccc;
  width: 800px;
  height: 50px;
}

.clear-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #999;
}

.product-card {
  background-color: white;
  position: relative;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  margin: 10px;
  height: 400px;
  width: 230px;
}

.productImage {
  height: 50%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 10px;
  padding: 20px;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px 8px 0 0;
  margin-bottom: 10px;
}

.search-icon {
  width: 60px;
  height: 25px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}

.pagination-btn {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination-btn:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

.pagination-btn:hover:not(:disabled) {
  background-color: #ddd;
}

.page-number {
  font-size: 18px;
  font-weight: bold;
  margin: 0 15px;
}

.product-name {
  text-align: center;
}

.productCaption {
  text-align: center;
}

.productPrice {
  width: 70px;
  position: absolute;
  bottom: 0;
  left: 5%;
  text-align: center;
  font-weight: 700;
 
}

#newPrice {
  color: red;
}

.crossedPrice {
  position: absolute;
  bottom: 2%;
  right: 5%;
  color: grey;
}

.productLabel {
  position: absolute;
  top: 2%;
  padding: 2%;
  border-radius: 10px;
  font-weight: 300;
}

#sale {
  background-color: rgb(246, 134, 134);
}

#new {
  background-color: rgb(255, 251, 127);
}

#promo{
  background-color: rgb(112, 198, 255);
}

.productColor{
  width: 20px;
  height:20px;
  text-align: center;
  border-radius: 10px;
  border: solid 1px black;
  position: absolute;
  top:3%;
  left:85%;
}

.didYouMean {
  width: 500;
  display: flex;
  gap: 10px;
  align-items: baseline;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 2%;
}

.correctText {
  color: rgb(17, 17, 179);
}


.autocomplete-wrapper,
.searchHistory-wrapper {
  padding: 1%;
  display: grid;
  /* background-color: #ddd; */
  /* grid-template-rows: auto auto; */
  row-gap: 10px;
  /* width: 50%; */
}

.autocomplete-wrapper h6,
.searchHistory-wrapper h6 {
  text-align: center;
  /* margin-top: 3%; */
}

.autocomplete-list,
.searchHistory-list {
  list-style: none;
  padding: 1px;
  margin: auto;
  width: 50%;
  /* background: #f8f8f8; */
  background: white;
  border: 1px solid #ccc;

}

.productCaption {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: block;
}

.autocomplete-list li,
.searchHistory-list li {
  padding: 8px;
  cursor: pointer;
}

.autocomplete-list li:hover,
.searchHistory-list li:hover {
  background-color: #e0e0e0;
}

.searchHistory-list li {
  color: purple;
  display: flex;
  justify-content: space-between;
}

.searchHistory-list li .delete-btn,
.btn-microphone {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.titleResults,
.goBack {
  width: 30%;
  margin: 2%;
}

.titleResults {
  background-color: rgb(70, 70, 255);
  color: #f5f4f4;
  padding: 2%;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  text-transform: uppercase;
}

.image-text {
  position: relative;
  background-color: #ccc;
  border: solid 1px grey;
  margin: 3% 1%;
}

.title-image {
  position: absolute;
  top: 23%;
  left: 60%;
  /* transform: translate(-50%, -50%); */
  padding: 3%;
  text-align: center;
  z-index: 1;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
  background-color: rgba(130, 130, 122, 0.4);
  border-radius: 10px;
}

.image-container {
  position: relative;
  height: 400px;
  overflow: hidden;
}

.image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('src/assets/electronic.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(5px);
  z-index: 0;
}

.image-container>* {
  position: relative;
  z-index: 1;
}

.big-image {
  height: 100%;
  width: 40%;
}

.btn-searchNew {
  padding: 3%;
  width: 130px;
  border: solid 1px rgb(228, 23, 23);
  background: rgb(228, 23, 23);
  cursor: pointer;
  border-radius: 10px;
  color: white;
}

.btn-homepage{
  background: none;
  border: none;
  color: blue;
}

.audioSearch-loading{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
}